@{
    ViewData["Title"] = "Главная";
}

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Команда</th>
            <th>Страна</th>
            <th>Править</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>